# Roostoo API credentials (from your competition dashboard)
RST_API_KEY=jbTEVzRGgBdTskNJJiODTP7o0SdhAAz46HL9tS5t6TR2xnoPETf7uUOqlk6mZ3GE
RST_SECRET_KEY=IPh3vt9aV81Hntrvhr8DjKqYcWTegkH3q3zVeAnVLK1pyeV3SzoHQFoH7XW6kVcZ
